services:
  qbittorrent:
    build:
      context: ./qbittorrent-openvpn-container
      dockerfile: Dockerfile
    container_name: qbittorrent
    cap_add:
      - NET_ADMIN
    volumes:
      - /mnt/nfsshare:/home/qbittorrent/Downloads
      - ./vpn-config:/root/vpn-config
      - /dev/net/tun:/dev/net/tun
    ports:
      - "8080:8080"  # qBittorrent Web UI
    networks:
      - qbittorrent_network
    restart: unless-stopped

networks:
  qbittorrent_network:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-qbittorrent