services:
  qbittorrent:
    image: mattev02/qbittorrent-over-openvpn:latest
    container_name: qbittorrent
    cap_add:
      - NET_ADMIN # DO NOT REMOVE
    volumes:
      - CHANGE_ME_WITH_DOWNLOADS_PATH:/home/qbittorrent/Downloads
      - CHANGE_ME_WITH_VPN_CONFIG_PATH:/root/vpn-config
      - /dev/net/tun:/dev/net/tun # DO NOT REMOVE
    ports:
      - "8080:8080"  # qBittorrent Web UI
    networks: # optional
      - qbittorrent_network
    restart: unless-stopped
    logging: # recommended: logs can become really heavy
      options:
        max-size: "100m"         # each log file ≤ 100 MB
        max-file: "5"            # keep up to 5 rotated files

networks: # optional
  qbittorrent_network:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-qbittorrent